{% extends 'base.html' %}

{% block content %}
<div class="block-content">
    <div class="user-content">
        <div class="flex user-title">
            <div style="text-align: justify">
                <p class="p-size">Фамилия:</p>
                <p class="p-size">Имя:</p>
                <p class="p-size">Время заезда:</p>
                <p class="p-size">Время выезда:</p>
                <p class="p-size">Оплата:</p>
            </div>
            <div style="text-align: end">
                <p>Сидоров</p>
                <p>Иван</p>
                <p>01.02.2000 15:25</p>
                <p>01.02.2000 16:25</p>
                <p>210 руб.</p>
            </div>
        </div>
        <!-- <div class="flex user-title">
            <span>Фамилия:</span>
            <span>Сидоров</span>
        </div> -->
    </div>
    <!-- <div class="user-content">
        <div class="flex user-title">
            <span>Имя:</span>
            <span>Иван</span>
        </div>
    </div>
    <div class="user-content">
        <div class="flex user-title">
            <span>Время заезда:</span>
            <span>01.02.2000 15:25</span>
        </div>
    </div> -->
</div>
{% endblock %}